In [1]:
import pandas as pd

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\varsh\anaconda3\lib\site-packages (1.1.1)

In [3]:
import pymysql

In [4]:
myconnection = pymysql.connect(host='localhost',user='root',passwd='varshini16')

In [5]:
a = input("Enter your SQL query : ")
pd.read_sql_query(a,myconnection)

Enter your SQL query :  select * from customer_behavior.customers;

C:\Users\varsh\AppData\Local\Temp\ipykernel_19364\2625569291.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(a,myconnection)

,CustomerID,CustomerName,Email,Gender,Age,GeographyID
0,1,Emma Anderson,emma.anderson@example.com,Male,50,2
1,2,Sarah Brown,sarah.brown@example.com,Female,37,4
2,3,Robert Hernandez,robert.hernandez@example.com,Female,26,6
3,4,David Garcia,david.garcia@example.com,Male,25,8
4,5,Emma Miller,emma.miller@example.com,Female,41,4
...,...,...,...,...,...,...
95,96,Emily Gonzalez,emily.gonzalez@example.com,Female,38,10
96,97,Emily Rodriguez,emily.rodriguez@example.com,Female,51,3
97,98,Chris Lopez,chris.lopez@example.com,Female,55,10
98,99,Laura Hernandez,laura.hernandez@example.com,Male,41,5
99,100,Jane Brown,jane.brown@example.com,Female,45,10

In [ ]:
myconnection.cursor().execute("create database customer_behavior")

In [18]:
df = pd.read_csv("C://Users//varsh//Downloads//customers.csv")

In [19]:
 df.columns

Index(['CustomerID', 'CustomerName', 'Email', 'Gender', 'Age', 'GeographyID'], dtype='object')

In [20]:
df.dtypes

CustomerID       int64
CustomerName    object
Email           object
Gender          object
Age              int64
GeographyID      int64
dtype: object

In [21]:
dtype_mapping = {
    'int64' : 'INTEGER',
    'float64' : 'FLOAT',
    'object' : 'TEXT',
    'datetime62[ns]' : 'DATETIME',
    'bool' : 'BOOLEAN'
}
columns = ",".join(f"{col} {dtype_mapping[str(dtype)]}" for col, dtype in zip(df.columns, df.dtypes))

In [ ]:
import mysql.connector
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="varshini16",
    database="customer_behavior")
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(255) NOT NULL,
    Email VARCHAR(255) UNIQUE NOT NULL,
    Gender VARCHAR(10),
    Age INT,
    GeographyID INT)""")
conn.commit()
conn.close()
print("Table 'customers' created successfully in MySQL!")

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
db_user = "root"
db_password = "varshini16"
db_host = "localhost"
db_name = "customer_behavior"
engine = create_engine(f"mysql+pymysql://root:varshini16@localhost/customer_behavior")
df = pd.read_csv("C://Users//varsh//Downloads//customers.csv")
df.to_sql("customers", con=engine, if_exists="append", index=False)
print("Data inserted successfully!")

In [22]:
df = pd.read_csv("C://Users//varsh//Downloads//customer_journey.csv")

In [23]:
 df.columns

Index(['JourneyID', 'CustomerID', 'ProductID', 'VisitDate', 'Stage', 'Action',
       'Duration'],
      dtype='object')

In [24]:
df.dtypes

JourneyID       int64
CustomerID      int64
ProductID       int64
VisitDate      object
Stage          object
Action         object
Duration      float64
dtype: object

In [25]:
dtype_mapping = {
    'int64' : 'INTEGER',
    'float64' : 'FLOAT',
    'object' : 'TEXT',
    'datetime62[ns]' : 'DATETIME',
    'bool' : 'BOOLEAN'
}
columns = ",".join(f"{col} {dtype_mapping[str(dtype)]}" for col, dtype in zip(df.columns, df.dtypes))

In [ ]:
import mysql.connector
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="varshini16",
    database="customer_behavior")
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS customer_journey (
    JourneyID INT PRIMARY KEY,
    CustomerID INT,
    ProductID INT,
    VisitDate VARCHAR(255),
    Stage VARCHAR(255),
    Action VARCHAR(255),
    Duration FLOAT)""")
conn.commit()
conn.close()
print("Table 'customer_journey' created successfully in MySQL!")

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
db_user = "root"
db_password = "varshini16"
db_host = "localhost"
db_name = "customer_behavior"
engine = create_engine(f"mysql+pymysql://root:varshini16@localhost/customer_behavior")
df = pd.read_csv("C://Users//varsh//Downloads//customer_journey.csv")
df.to_sql("customer_journey", con=engine, if_exists="append", index=False)
print("Data inserted successfully!")

In [26]:
df = pd.read_csv("C://Users//varsh//Downloads//customer_reviews.csv")

In [27]:
 df.columns

Index(['ReviewID', 'CustomerID', 'ProductID', 'ReviewDate', 'Rating',
       'ReviewText', 'sentiment'],
      dtype='object')

In [28]:
df.dtypes

ReviewID       int64
CustomerID     int64
ProductID      int64
ReviewDate    object
Rating         int64
ReviewText    object
sentiment     object
dtype: object

In [29]:
dtype_mapping = {
    'int64' : 'INTEGER',
    'float64' : 'FLOAT',
    'object' : 'TEXT',
    'datetime62[ns]' : 'DATETIME',
    'bool' : 'BOOLEAN'
}
columns = ",".join(f"{col} {dtype_mapping[str(dtype)]}" for col, dtype in zip(df.columns, df.dtypes))

In [ ]:
import mysql.connector
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="varshini16",
    database="customer_behavior")
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS customer_reviews (
    ReviewID INT PRIMARY KEY,
    CustomerID INT,
    ProductID INT,
    ReviewDate VARCHAR(50),
    Rating INT,
    ReviewText TEXT,
    Sentiment VARCHAR(50))""")
conn.commit()
conn.close()
print("Table 'customer_reviews' created successfully in MySQL!")

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
db_user = "root"
db_password = "varshini16"
db_host = "localhost"
db_name = "customer_behavior"
engine = create_engine(f"mysql+pymysql://root:varshini16@localhost/customer_behavior")
df = pd.read_csv("C://Users//varsh//Downloads//customer_reviews.csv.csv")
df.to_sql("customer_reviews", con=engine, if_exists="append", index=False)
print("Data inserted successfully!")

In [30]:
df = pd.read_csv("C://Users//varsh//Downloads//engagement_data.csv")

In [31]:
 df.columns

Index(['EngagementID', 'ContentID', 'ContentType', 'Likes', 'EngagementDate',
       'CampaignID', 'ProductID', 'ViewsClicksCombined'],
      dtype='object')

In [32]:
df.dtypes

EngagementID            int64
ContentID               int64
ContentType            object
Likes                   int64
EngagementDate         object
CampaignID              int64
ProductID               int64
ViewsClicksCombined    object
dtype: object

In [33]:
dtype_mapping = {
    'int64' : 'INTEGER',
    'float64' : 'FLOAT',
    'object' : 'TEXT',
    'datetime62[ns]' : 'DATETIME',
    'bool' : 'BOOLEAN'
}
columns = ",".join(f"{col} {dtype_mapping[str(dtype)]}" for col, dtype in zip(df.columns, df.dtypes))

In [ ]:
import mysql.connector
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="varshini16",
    database="customer_behavior")
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS engagement_data (
    EngagementID INT PRIMARY KEY,
    ContentID INT NOT NULL,
    ContentType VARCHAR(255) NOT NULL,
    Likes INT,
    EngagementDate VARCHAR(50),
    CampaignID INT,
    ProductID INT,
    ViewsClicksCombined VARCHAR(255))""")
conn.commit()
conn.close()
print("Table 'engagement_data' created successfully in MySQL!")

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
db_user = "root"
db_password = "varshini16"
db_host = "localhost"
db_name = "customer_behavior"
engine = create_engine(f"mysql+pymysql://root:varshini16@localhost/customer_behavior")
df = pd.read_csv("C://Users//varsh//Downloads//engagement_data.csv")
df.to_sql("engagement_data", con=engine, if_exists="append", index=False)
print("Data inserted successfully!")

In [34]:
df = pd.read_csv("C://Users//varsh//Downloads//products.csv")

In [35]:
 df.columns

Index(['ProductID', 'ProductName', 'Category', 'Price'], dtype='object')

In [36]:
df.dtypes

ProductID        int64
ProductName     object
Category        object
Price          float64
dtype: object

In [37]:
dtype_mapping = {
    'int64' : 'INTEGER',
    'float64' : 'FLOAT',
    'object' : 'TEXT',
    'datetime62[ns]' : 'DATETIME',
    'bool' : 'BOOLEAN'
}
columns = ",".join(f"{col} {dtype_mapping[str(dtype)]}" for col, dtype in zip(df.columns, df.dtypes))

In [ ]:
import mysql.connector
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="varshini16",
    database="customer_behavior")
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS products (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    category VARCHAR(100),
    price DECIMAL(10,2),
    stock INT)""")
conn.commit()
conn.close()
print("Table created successfully in MySQL!")

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
db_user = "root"
db_password = "varshini16"
db_host = "localhost"
db_name = "customer_behavior"
engine = create_engine(f"mysql+pymysql://root:varshini16@localhost/customer_behavior")
df = pd.read_csv("C://Users//varsh//Downloads//products.csv")
df.to_sql("products", con=engine, if_exists="append", index=False)
print("Data inserted successfully!")

In [38]:
df = pd.read_csv("C://Users//varsh//Downloads//geography.csv")

In [39]:
 df.columns

Index(['GeographyID', 'Country', 'City'], dtype='object')

In [40]:
df.dtypes

GeographyID     int64
Country        object
City           object
dtype: object

In [41]:
dtype_mapping = {
    'int64' : 'INTEGER',
    'float64' : 'FLOAT',
    'object' : 'TEXT',
    'datetime62[ns]' : 'DATETIME',
    'bool' : 'BOOLEAN'
}
columns = ",".join(f"{col} {dtype_mapping[str(dtype)]}" for col, dtype in zip(df.columns, df.dtypes))

In [ ]:
import mysql.connector
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="varshini16",
    database="customer_behavior")
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS Geography (
    GeographyID INT PRIMARY KEY,
    Country VARCHAR(255) NOT NULL,
    City VARCHAR(255) NOT NULL)""")
conn.commit()
conn.close()
print("Table 'Geography' created successfully in MySQL!")

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
db_user = "root"
db_password = "varshini16"
db_host = "localhost"
db_name = "customer_behavior"
engine = create_engine(f"mysql+pymysql://root:varshini16@localhost/customer_behavior")
df = pd.read_csv("C://Users//varsh//Downloads//geography.csv")
df.to_sql("geography", con=engine, if_exists="append", index=False)
print("Data inserted successfully!")

In [42]:
 df = pd.read_csv("C://Users//varsh//sentiment_analysis_results.csv")

In [43]:
 df.columns

Index(['reviewID', 'productID', 'reviewText', 'sentiment_score', 'sentiment'], dtype='object')

In [44]:
df.dtypes

reviewID             int64
productID            int64
reviewText          object
sentiment_score    float64
sentiment           object
dtype: object

In [45]:
dtype_mapping = {
    'int64' : 'INTEGER',
    'float64' : 'FLOAT',
    'object' : 'TEXT',
    'datetime62[ns]' : 'DATETIME',
    'bool' : 'BOOLEAN'
}
columns = ",".join(f"{col} {dtype_mapping[str(dtype)]}" for col, dtype in zip(df.columns, df.dtypes))

In [ ]:
table_query = """
CREATE TABLE IF NOT EXISTS sentiment_analysis_results(
    reviewID         INTEGER,
    productID        INTEGER,
    reviewText       TEXT,
    sentiment_score  FLOAT,
    sentiment        TEXT
);
"""
cursor.execute(table_query)
conn.commit()
print("Table created successfully!")

In [43]:
import pandas as pd
from sqlalchemy import create_engine
db_user = "root"
db_password = "varshini16"
db_host = "localhost"
db_name = "customer_behavior"
engine = create_engine(f"mysql+pymysql://root:varshini16@localhost/customer_behavior")
df = pd.read_csv("C://Users//varsh//sentiment_analysis_results.csv")
df.to_sql("sentiment_analysis_results", con=engine, if_exists="append", index=False)
print("Data inserted successfully!")

Data inserted successfully!

In [10]:
df.fillna(value=0, inplace=True)
df.fillna(value="Unknown", inplace=True)

In [11]:
 for i in range(0,len(df)):
     myconnection.cursor().execute(f"insert into customer_behavior.customer_reviews values {tuple(df.iloc[i])}")
     myconnection.commit()

In [57]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\varsh\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\varsh\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\varsh\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\varsh\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\varsh\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\varsh\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.66.5)
Requirement already satisfied: colorama in c:\users\varsh\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)

In [14]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
reviews_df = pd.read_csv('reviews_with_sentiment.csv')
db_connection_str = 'mysql+pymysql://root:varshini16@localhost/customer_behavior'
engine = create_engine(db_connection_str)
reviews_df.to_sql('customer_reviews', con=engine, if_exists='replace', index=False)
print("Sentiment data successfully inserted into SQL!")

Sentiment data successfully inserted into SQL!

In [15]:
pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\varsh\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pymysql in c:\users\varsh\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\varsh\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\varsh\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
from sqlalchemy import create_engine
db_username = "root"
db_password = "varshini16"
db_host = "localhost"
db_name = "customer_behavior"
engine = create_engine(f"mysql+pymysql://root:varshini16@localhost/customer_behavior")
query = "SELECT productID, reviewText FROM customer_reviews;"
reviews_df = pd.read_sql(query, engine)
engine.dispose()
print(reviews_df.head())

   productID                                reviewText
0         18   Average  experience,  nothing  special.
1         19            The  quality  is    top-notch.
2         13   Five  stars  for  the  quick  delivery.
3         15  Good  quality,  but  could  be  cheaper.
4          2   Average  experience,  nothing  special.

In [31]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from textblob import TextBlob  

# Establish database connection (Replace with your credentials)
engine = create_engine("mysql+pymysql://root:varshini16@localhost/customer_behavior")

# Load customer reviews dataset
query = "SELECT reviewID, productID, reviewText FROM customer_reviews"
reviews = pd.read_sql(query, con=engine)

# Function to calculate sentiment score
def get_sentiment(text):
    return TextBlob(text).sentiment.polarity  # Returns score between -1 (negative) and +1 (positive)

# Apply sentiment analysis to each review
reviews["sentiment_score"] = reviews["reviewText"].apply(get_sentiment)

# Categorizing sentiment
reviews["sentiment"] = reviews["sentiment_score"].apply(lambda x: "Positive" if x > 0 else ("Negative" if x < 0 else "Neutral"))

# View sentiment summary
print(reviews.head())

# Close the connection
engine.dispose()

   reviewID  productID                                reviewText  \
0         1         18   Average  experience,  nothing  special.
1         2         19            The  quality  is    top-notch.
2         3         13   Five  stars  for  the  quick  delivery.
3         4         15  Good  quality,  but  could  be  cheaper.
4         5          2   Average  experience,  nothing  special.

   sentiment_score sentiment
0         0.103571  Positive
1         1.000000  Positive
2         0.333333  Positive
3         0.700000  Positive
4         0.103571  Positive

In [36]:
reviews = pd.read_csv("C://Users//varsh//sentiment_analysis_results.csv")  
print(reviews.head())

   reviewID  productID                                reviewText  \
0         1         18   Average  experience,  nothing  special.
1         2         19            The  quality  is    top-notch.
2         3         13   Five  stars  for  the  quick  delivery.
3         4         15  Good  quality,  but  could  be  cheaper.
4         5          2   Average  experience,  nothing  special.

   sentiment_score sentiment
0         0.103571  Positive
1         1.000000  Positive
2         0.333333  Positive
3         0.700000  Positive
4         0.103571  Positive

In [34]:
reviews.to_csv("sentiment_analysis_results.csv", index=False) 
print("File saved successfully!")

File saved successfully!